* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #363d42;

}

.contents {
    border-radius: 20px;
    background: #ffa500;
    backdrop-filter: blur(10px);
    height: 34vh;
    width: 25%;
    padding: 0 2vw;
}

.contents h2 {
    text-align: center;
    font-size: 2vw;
    background: linear-gradient(90deg, #252524 10%, #1733d1 40%, #e9079d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.input-box {
    width: 100%;
    height: 5vh;
    margin: 1vw 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border: 2px solid #000000;
    background: transparent;
    border-radius: 30px;
    padding: 0 0.4vw;
    font-size: 0.8vw;
    color: white;
}

.input-box input::placeholder {
    color: white;
}

.remember-me {
    display: flex;
    justify-content: space-between;
    font-size: 0.9vw;
}

.remember-me a {
    color: black;
    text-decoration: none;
}

.remember-me a:hover {
    text-decoration: underline;
    color: #ffffff;
}

.btn-login {
    width: 100%;
    height: 5vh;
    font-size: 0.9vw;
    margin-top: 0.5vw;
    border: none;
    background-color: white;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.5s;
}

.btn-login:hover {
    transform: scale(1.02);
}

.contents p {
    align-items: center;
}

.signup {
    margin-top: 0.4vw;
    text-align: center;
    font-size: 0.9vw;
}

.signup a {
    color: black;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
    color: #ffffff;
}

@media (max-width:1200px),(max-height:800px) {
    .contents {
        height: 45vh;
        width: 40%;
        padding: 0 13px;
    }

    .contents h2 {
        font-size: 45px;
    }

    .input-box {
        height: 45px;
        margin: 20px 0;
    }

    .input-box input {
        padding: 0 20px;
        font-size: 13px;
    }

    .remember-me {
        font-size: 15px;
    }

    .btn-login {
        height: 40px;
        font-size: 13px;
        margin-top: 10px;
    }
    .signup{
        margin-top: 20px;
        font-size: 12px;
    }
}
@media (max-width:800px),(max-height:600px){
    .contents {
        height: 50vh;
        width: 60%;
        padding: 0 13px;
    }

    .contents h2 {
        font-size: 45px;
    }

    .input-box {
        height: 45px;
        margin: 20px 0;
    }

    .input-box input {
        padding: 0 20px;
        font-size: 13px;
    }

    .remember-me {
        font-size: 15px;
    }

    .btn-login {
        height: 40px;
        font-size: 13px;
        margin-top: 10px;
    }
    .signup{
        margin-top: 20px;
        font-size: 12px;
    }
}
@media (max-width:450px),(max-height:500px){
    .contents {
        height: 40vh;
        width: 80%;
        padding: 0 13px;
    }

    .contents h2 {
        font-size: 30px;
    }

    .input-box {
        height: 45px;
        margin: 20px 0;
    }

    .input-box input {
        padding: 0 20px;
        font-size: 13px;
    }

    .remember-me {
        font-size: 15px;
    }

    .btn-login {
        height: 40px;
        font-size: 13px;
        margin-top: 10px;
    }
    .signup{
        margin-top: 20px;
        font-size: 12px;
    }
}