* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 5vh;
    color: #ffa500;
    background-color: rgba(0, 0, 0, 0.624);
}

.main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("./images/desktop-wallpaper-vasto-lorde-s-for-widescreen-high-vaste-lorde.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(5px);
    z-index: -1; 
}

.headings {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vw;
}

.headings h1 {
    font-size: 5vw;
    color: white;
}

.headings h1 span {
    color: #ffa500;
}

.headings h2 {
    font-size: 2vw;
    color: white;
    margin-left: 1vw;
}

.vertical-line {
    width: 0.2vw;
    height: 100%; 
    background-color: #ffa500; 
    align-self: stretch; 
    margin: 0 20px; 
}

.contents table {
    border-collapse: collapse;
    width: 80%;
    margin-left: 12%;
    margin-top: -10vh;
}

.contents th,
.contents td {
    border: 1px solid #ffa500;
    padding: 10px;
    text-align: left;
}

.contents th {
    font-size: 1.2vw;
}

.contents td {
    font-size: 1vw;
}
@media (max-width:800px),(max-height:800px){
    .headings{
        margin-bottom: 15vw;
    }
    .contents th {
        font-size: 2vw;
    }
    .contents td {
        font-size: 1.8vw;
    }
}
@media (max-width:500px),(max-height:500px){
    .headings{
        margin-bottom: 25vw;
    }
    .headings h1{
        font-size: 7vw;
    }
    .headings h2{
        font-size: 3vw;
    }
    .contents th {
        font-size: 2.5vw;
    }
    .contents td {
        font-size: 2vw;
    }
}